.teachercourseadd{
    background-color: #fff;
    border-radius: 13px;
    width: 100%;
    box-shadow: 1px 1px 19px #00000047;
    padding: 2rem;
}
.teachercourseadd__input{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}
.teachercourseadd__input_input{
    background: #f5f5f5;
    border: 0;
    border-radius: 5px;
    color: #6f6b80;
    font-size: 16px;
    font-weight: 600;
    height: 60px;
    padding: 0 30px 0 25px;

}
.teachercourseadd__input_input2{
    margin-top: 2rem;
    background: #f5f5f5;
    width: fit-content;
    padding: 1rem;
    border-radius: 5px;

}
.teachercourseadd__input__btn{
    margin-top: 1rem;
    background: #525fe1;
    background: var(--color-primary);
    border: none;
    border-radius: 5px;
    color: #fff;
    color: var(--color-white);
    display: inline-block;
    font-size: 18px;
    padding: 10px 15px;
    transition: .4s;
    display: flex;
    width: 130px;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: all 0.4s ease;
    cursor: pointer;
}
.teachercourseadd__input__btn:hover{
    opacity: 0.8;
}
.teachercourseadd__input label{
    font-weight: 500;
    margin-bottom: 10px;
}
.teachercourseadd__main{
    margin-top: 1rem;
}
.teachercourseadd__main__item{
    margin: 10px 0;
    border-radius: 5px;
    background-color: #F5F5F5;
    margin: 1rem 0;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.teachercourseadd__main__item__btn{
    display: flex;
    align-items: center;
}
.teachercourseadd__main__item__btn a{
    background: #525fe1;
    background: var(--color-primary);
    border: none;
    border-radius: 5px;
    color: #fff;
    color: var(--color-white);
    display: inline-block;
    font-size: 14px;
    padding: 8px 16px;
    transition: .4s;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
    text-align: center;
    font-weight: 300;
    cursor: pointer;
    margin-left: 20px;
}

@media screen and (max-width:600px){
    .teachercourseadd__main__item{
        flex-direction: column;
        align-items: flex-start;
    }
    .teachercourseadd__main__item__btn {
        align-self: flex-end;
    }
    .teachercourse__main__item__btn__red , .teachercourseadd__main__item__btn a {
        font-size: 11px;
        padding: 8px 12px;
        font-weight: 500;
    }
    .teachercourseadd__main__item__btn{
        margin-top: 1rem;
    }
    .teachercourseadd__input__btn{
        font-size: 14px;
    }
}